<div id="sidebarTOC">
<% unless @content.nil?  %>
  <h3>Page Сontents</h3>
  <% nodes =  Nokogiri::HTML(textilizable(@content, :text)).xpath('//h1|//h2|//h3|//h4|//h5|//h6') %>
  <% link_href = Nokogiri::HTML(textilizable(@content, :text)).xpath('//a[@name]/@name') %>

  <% nodes.each_with_index do |node,i|%>
    <%= "<a href=\"##{link_href[i]}\" style=\"margin-left:#{nodes[i].name.delete("h").to_i*10}px;\">#{node.text.delete "¶"}</a>".html_safe %><br>
    <%end%>
<% end %>

<% if @wiki && @wiki.sidebar -%>
  <%= textilizable @wiki.sidebar.content, :text %>
<% end -%>

<h3><%= l(:label_wiki) %></h3>

<%= link_to l(:field_start_page), {:action => 'show', :id => nil} %><br />
<%= link_to l(:label_index_by_title), {:action => 'index'} %><br />
<%= link_to l(:label_index_by_date), {:controller => 'wiki', :project_id => @project, :action => 'date_index'} %><br />

</div>

<script type="text/javascript">
	var min_scroll,main_margin,sidebarHeight;
	min_scroll = $("#top-menu").outerHeight() + $("#header").outerHeight()
	main_margin = 0;
	try {
		main_margin = parseInt($("#main").css("margin-top").replace("px",""));
	} catch(e){}
	
	var sidebarTOC = $('#sidebarTOC');
	sidebarHeight = sidebarTOC.parent().height()

    $(window).scroll(
        function() {
            var t = $(window).scrollTop();
            if (t < min_scroll) {
				//top of page behaviour
				sidebarTOC.css({position: "relative"}).css({top: ""});
				sidebarTOC.parent().css({"margin-top":""}).css({height:""});
            } else {
                // once the page has scrolled
                sidebarTOC.css({position: "fixed"}).css({top: main_margin + "px"});
				sidebarTOC.parent().css({"margin-top": (t - min_scroll) + "px"}).css({height:sidebarHeight + "px"});
            }
        }
    );
</script>
